
.icon-mail:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */